<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Fique ligado na nossa agenda </h2>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="loading">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 text-center">
    <h3> Carregando </h3>
    <img src="img/loader.gif" alt="">
  </div>
</div>

<div class="container" ng-hide="loading">
  <div class="page-header" ng-show= " ((meetings | filter: {done: false}).length > 0 )">
    <h1>Proximas reuniões</h1>
  </div>
  <div class="row">
    <div id="isotope-portfolio-container">
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item-wrapper artwork creative" ng-repeat = "meeting in meetings | filter:{done: false} track by $index">
        <div class="portfolio-item">
          <div class="portfolio-thumb">
            <img ng-src="img/meetings/{{meeting.id}}.jpg" class="img-responsive" alt="{{meeting.title}}">
            <div class="image-overlay"></div>
            <a ng-href="#/reuniao/{{meeting.id}}" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
            <!-- <a href="portfolio-item-1.html" class="portfolio-link"><i class="fa fa-facebook"></i></a> -->
          </div>
          <div class="portfolio-details">
            <h5>{{meeting.title}} <br> {{meeting.date}}</h5>
            <p class="lead">{{meeting.description}}</p>
          </div>
        </div>
      </div>   
    </div>
  </div>
  <div ng-show= " ((meetings | filter: {done: true}).length > 0 )">
  <div class="page-header" >
    <h1>Reuniões passadas</h1>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="filter" placeholder="Pesquise por um tema ou descrição">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="fa fa-search"></span>
      </button>
    </span>
  </div>
  <br>
  <div class="row">
    <div id="isotope-portfolio-container">
      <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item-wrapper artwork creative" ng-repeat = "meeting in meetings | filter:{done: true} | filter:filter  track by $index">
        <div class="portfolio-item">
          <div class="portfolio-thumb">
            <img ng-src="img/meetings/{{meeting.id}}.jpg" class="img-responsive" alt="{{meeting.title}}">
            <div class="image-overlay"></div>
            <a ng-href="#/reuniao/{{meeting.id}}" class="portfolio-zoom"><i class="fa fa-eye"></i></a>
            <!-- <a href="portfolio-item-1.html" class="portfolio-link"><i class="fa fa-facebook"></i></a> -->
          </div>
          <div class="portfolio-details">
            <h5>{{meeting.title}} <br> {{meeting.date}}</h5>
            <p class="lead">{{meeting.description}}</p>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
</div>