<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>{{meeting.title}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="container" ng-init="show();">
<div class="row" ng-show=loading>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 text-center">
    <h3> Carregando </h3>
    <img src="img/loader.gif" alt="">
  </div>
</div>
  <div class="row">
    <div class="col-md-8">

      <div class="page-header">
        <h1>Objetivo</h1>
      </div>
      <p class="lead">{{meeting.description}}</p>

      <section class="done">
        <div class="page-header">
          <h1>Como foi?</h1>
        </div>
        <p class="lead" align="justify">{{meeting.report.show_content}}</p>
      </section>

    </div>

    <div class="col-md-4">  
      <div class="page-header">
        <h1> Mais detalhes </h1>
      </div>
      <img ng-src="img/meetings/{{meeting.id}}.jpg" alt="" class="img meeting-thumb">
      <ul class="meeting-details-list">
        <li>
          <h6>Atividade:</h6>
          <div class="meeting-terms"> {{meeting.kind.name}} </div>
        </li>
        <li>
          <h6>Data:</h6>
          <div class="meeting-terms"> {{meeting.date}} </div>
        </li>
        <li>
          <h6>Linguagem:</h6>
          <div class="meeting-terms"> {{meeting.language.name}} </div>
        </li>
        <li ng-show="{{meeting.done}}">
          <h6>Resultado:</h6>
          <div class="meeting-terms"> 
            <a ng-href="{{meeting.gh-link}}">{{meeting.gh-repositore}}</a>
            <i class="fa fa-github"></i>
          </div>
        </li>
      </ul>
      <div class="page-header">
        <h1> Participantes </h1>
      </div>
      <ul class="meeting-details-list">
        <li ng-repeat="participant in meeting.participants">
          <h6> {{$index + 1}} </h6>
          <div class="meeting-terms">
          <a ng-href="http://fb.me/{{participant.facebook}}" target="_blank">{{participant.name}}</a>
          </div>
          <div> {{}} </div>
        </li>
      </ul>
    </div>
  </div>
</div>