<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Conheça os membros do projeto</h2>
    </div>
</div>
</div>
</div>

<div class="container">
    <div class="page-header">
      <h1>Alunos</h1>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="img/members/jmscarpa.jpg" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">João Mateus Scarpa</h4>
                <span class="position">Founder</span>
                <p>Desenvolvedor web na <a href="http://www.designa.com.br">Designa</a>, trabalha com Ruby on Rails deste 2013 e grande entusiasta de tecnologia e educação. </p>
                <ul class="social-links">
                    <li><a class="facebook" href="http://fb.me/jmscarpa"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="https://plus.google.com/u/0/+JoãoMateusScarpa"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="http://twitter.com/jmscarpa"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="img/members/lfoliveira.jpg" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Lucas Furtado de Oliveira</h4>
                <span class="position">Founder</span>
                <p> Estudante de ciências da computação, pesquisador na área de desenvolvimento de softwares, tentando aprender a tocar guitarra nas horas vagas </p>
                <ul class="social-links">
                    <li><a class="facebook" href="http://fb.me/lucas.furtadodeoliveira"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="https://plus.google.com/102049244762988046362"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/lfolv"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="img/members/aryson.jpg" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Aryson Pereira R. dos Santos</h4>
                <span class="position">Founder</span>
                <p> Analista de TI na empresa <a href="http://www.novametal.com.br">Novametal do Brasil</a>, estudante de ciência da computação, aficionado por aprendizado e novas tecnologias, entusiasta de segurança da informação.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="http://fb.me/aryson.pereira"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="https://plus.google.com/u/0/101747484475455177087"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/Arysonpereira"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>